[package]
name = "i210_rust"
version = "0.1.0"
edition = "2021"

[lib]
name = "i210_rust"
crate-type = ["staticlib"]

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
opt-level = 2
lto = true
panic = "abort"
